@media (max-width: 1200px) {
  .header-container {
    width: 90%;
  }
  .main-header--container {
    width: 90%;
  }
  .search-content {
    width: 63%;
  }
  .main-body--container {
    width: 90%;
    justify-content: space-around;
  }
  .container-box {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .header-container {
    width: 90%;
  }
  .main-header--container {
    width: 90%;
  }
  .search-content {
    width: 63%;
  }
  .main-body--container {
    width: 90%;
    justify-content: space-around;
  }
  .container-box {
    width: 29%;
    height: 360px;
  }
}

@media (max-width: 768px) {
  .header-container {
    width: 90%;
  }
  .main-header--container {
    width: 90%;
  }
  .search-content {
    width: 60%;
  }
  .main-body--container {
    width: 90%;
  }
  .container-box {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .header-container {
    width: 93%;
  }
  .header-container--title > h1 {
    font-size: 16px;
  }
  .light-theme--title {
    font-size: 14px;
  }
  .light-theme--moon {
    width: 16px;
    height: 16px;
  }
  .main-header--section {
    height: 200px;
  }
  .main-header--container {
    width: 93%;
    height: 65%;
    flex-direction: column;
    align-items: normal;
  }
  .search-content {
    width: 100%;
    height: 48px;
  }
  .select-section {
    height: 48px;
  }
  .main-body--container {
    width: 93%;
    height: 100dvh;
    justify-content: center;
  }
  .container-box {
    width: 70%;
  }
}
